﻿<div class="grants">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Client Application Access
            </h1>
            <div>Below is the list of applications you have given access to and the names of the resources they have access to.</div>
        </div>
    </div>
    
    @model IEnumerable<System.Security.Claims.Claim>
    
    <dl>
        @foreach (var claim in Model)
        {
            <dt>@claim.Type</dt>
            <dt>@claim.Value</dt>
        }
    </dl>
    
    
</div>